pr.xml

<!ELEMENT config (server, database, log)>
<!ELEMENT server EMPTY>
<!ATTLIST server name CDATA #IMPLIED>
<!ATTLIST server ip CDATA #IMPLIED>
<!ATTLIST server puerto CDATA #REQUIRED>
<!ELEMENT database EMPTY>
<!ATTLIST database path CDATA #REQUIRED>
<!ATTLIST database passwdpath CDATA #IMPLIED>
<!ELEMENT log EMPTY>
<!ATTLIST log path CDATA #REQUIRED>
